body {
    margin: 0;
    padding: 0;
  }
  
  main {
    text-align: center;
    padding: 0px;
  }
  
  footer {
    background-color: rgb(102, 99, 99);
    display: flex;
    padding: 20px;
  }
  
  /* Footer Sections */
  .desk,
  .graphic,
  .person {
    align-items: center;
    display: flex;
    flex-direction: column;
    color: black;
  }
  
  /* Image Styles */
  
  #circles-img {
    width: 100%;
    max-width: 5000px;
    height: auto;
    margin: auto;
  }
  
  .desk img,
  .graphic img,
  .person img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
    align-items: center;
    border-color: black;
  }
  
