img {
    width: 80%;
    display: block;
    margin: 0 auto;
}
p {
    width: 80%;
}
/*w5 - example 3*/
a {
    font-size: 1.5em;
    color: white;
    padding: 25px;
}
/*w4- example 4*/
img {
    width: 80%;
    border: 4px solid steelblue;
}
/*w5 -example 2*/
h1 {
    text-align: center;
    margin: 50px 0;
}
/*w5 - example 3*/
nav {
    text-align: center;
    background-color: steelblue;
    color: white;
    padding: 25px;
}
main p {
    width: 80%;
    margin: 50px auto;
    text-align: center;
}
/*w5 - example #1*/
footer {
    background-color: steelblue;
    color: white;
}
footer p {
    font-size: 20px;
    margin: 20px auto;
    padding: 25px;
}

a:hover {
    background-color: white;
    color: steelblue;
}
/* w5 - example 3*/
body{
    margin: 0;
}

